@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

/* 2x2 Grid */
.top-container {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #1f2937;
    flex-wrap: wrap;
}

.grid-item {
    display: flex;
    width: 50%;
    height: 20em;
}

.logo,
.links {
    height: 5em;
}

.logo {
    padding-left: 3em;
    font-size: 24px;
    color: #f9faf8;
}

.links,
.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero {
    display: flex;
    flex-direction: column;
}