@font-face {
    font-family: Roboto;
    src: url(./assets/Roboto/Roboto-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header .logo-text {
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 18px;
    color: #e5e7eb;
}

.header,
.intro {
    color: #f9faf8;
}

.intro {
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding-bottom: 30px;
}

.intro h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.intro p {
    font-size: 18px;
    color: #e5e7eb;
}

.intro img {
    height: auto;
    width: 300px;
}
